<h1>一覧</h1>
<%= link_to '新しく投稿する', new_picture_path, class: 'btn btn-primary' %>
<% @pictures.each do |picture| %>
<table>
  <tr>
    <th>投稿者：<%= picture.user.name %></th>
    <td>
      <%= link_to '詳細', picture_path(picture.id), class: 'btn btn-info' %>
      <%= link_to "編集", edit_picture_path(picture.id),
      data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-warning' %>
      <%= link_to '削除', picture_path(picture.id),method: :delete,
      data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
    </td>
  </tr>
  <tr>
    <td colspan="2">タイトル：<%= picture.title %></td>
  </tr>
  <tr>
    <td colspan="2">内容：<br><%= picture.content %></td>
  </tr>
  <tr>
    <td class="picture_img" colspan="2" rowspan="2">Image<br><img src="<%= picture.image %>"</td>
  </tr>
</table>
<% end %>
