<div class="main row">
  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3 side_category hidden-xs hidden-sm">
    <ul>
      <li>プロフィール</li>
      <li><a href="#" class="icon">
        <%= image_tag 'friend.svg', width:'30px', height:'30px', alt: 'friend' %></a>
      </li>
      <li><a href="#" class="icon">
        <%= image_tag 'watch.svg', width:'30px', height:'30px', alt: 'watch' %></a>
      </li>
      <li><a href="#" class="icon">
        <%= image_tag 'shop.svg', width:'30px', height:'30px', alt: 'shop' %></a>
      </li>
      <li><a href="#" class="icon">
        <%= image_tag 'group.svg', width:'30px', height:'30px', alt: 'group' %></a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 main_contents">
    <h1>一覧</h1><span class="notice"><%= notice %></span>
    <%= link_to '新しく投稿する', new_picture_path, class: 'btn btn-primary' %>
    <% @pictures.each do |picture| %>
      <table>
        <tr>
          <th>投稿者：<%= picture.user.name %></th>
          <td>
            <%= link_to '詳細', picture_path(picture.id), class: 'btn btn-info' %>
            <% if picture.user_id == current_user.id %>
              <%= link_to "編集", edit_picture_path(picture.id),
              data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-warning' %>
              <%= link_to '削除', picture_path(picture.id),method: :delete,
              data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="2">タイトル：<%= picture.title %></td>
        </tr>
        <tr>
          <td colspan="2">内容：<br><%= picture.content %></td>
        </tr>
        <tr>
          <td class="picture_img" colspan="2" rowspan="2">Image<br><img src="<%= picture.image %>"</td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3 aside">
    <img src="/assets/koukoku.png" width="300px" height="300px" alt="広告">
    <hr>
    <img src="/assets/koukoku.png" width="300px" height="300px" alt="広告">
  </div>
</div>
