<!DOCTYPE html>
<html>
  <head>
    <title>Selfportraitapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= image_tag 'app_logo.svg', width:'40px', height:'40px', alt: 'ロゴ' %></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag 'search.svg', width:'20px', height:'20px', alt: '検索' %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= form_tag('/pictures', method: 'get') do %>
                    <%= label_tag(:title_key, 'Search title:') %>
                    <%= text_field_tag(:title_key) %>
                    <%= submit_tag('Search') %> <%= link_to 'Clear', pictures_path %>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="#">
                <%= image_tag 'home.svg', width:'30px', height:'30px', alt: 'home' %>
                <span class="sr-only">(current)</span></a>
              </li>
              <li><a href="#" class="icon">
                <%= image_tag 'friend.svg', width:'30px', height:'30px', alt: 'friend' %></a>
              </li>
              <li><a href="#" class="icon">
                <%= image_tag 'watch.svg', width:'30px', height:'30px', alt: 'watch' %></a>
              </li>
              <li><a href="#" class="icon">
                <%= image_tag 'shop.svg', width:'30px', height:'30px', alt: 'shop' %></a>
              </li>
              <li><a href="#" class="icon">
                <%= image_tag 'group.svg', width:'30px', height:'30px', alt: 'group' %></a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アカウント<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if logged_in? %>
                  <li><%= link_to "Profile", user_path(current_user.id) %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
                  <% else %>
                  <li><%= link_to "Sign up", new_user_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Login", new_session_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
